@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root{
    /* fonts */
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;

    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyan : hsl(167, 40%, 24%);  /*(graphic design text)*/
    --Darkblue : hsl(198, 62%, 26%);  /* (photography text)*/
    --Darkmoderatecyan : hsl(168, 34%, 41%); /*(footer)*/

    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
